In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import r2_score 
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
df = pd.read_csv('C:/Users/user/Desktop/Kaggle/Hamoye/StageII/energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,1/11/2016 17:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1/11/2016 17:10,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,1/11/2016 17:20,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,1/11/2016 17:30,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,1/11/2016 17:40,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Drop Non-Numeric Columns

In [6]:
newdf = df.drop(columns =['date', 'lights'])
newdf.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

## Normalizing the DataSet

In [8]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(newdf),columns=newdf.columns)

## Fitting the Simple LInear Model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6).

In [16]:
# obtain x and y columns 
xtwelve = normalized_df['T2']
ytwelve = normalized_df['T6']

In [17]:
# Reshape the columns
x = np.array(xtwelve).reshape(-1,1)
y = np.array(ytwelve).reshape(-1,1)

In [18]:
# Train Test Split
xtwelve_train, xtwelve_test, ytwelve_train, ytwelve_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [19]:
linear_model = LinearRegression()
linear_model.fit(xtwelve_train, ytwelve_train)

LinearRegression()

## Obtaining Metrics R2SCORE

In [20]:
# Making a Prediction
twelve_predicted_values = linear_model.predict(xtwelve_test)
twelve_r2_score = r2_score(ytwelve_test, twelve_predicted_values) 
round(twelve_r2_score, 2 )

0.64

## Root Mean Squared Error

In [21]:
twelve_rmse = np.sqrt(mean_squared_error(ytwelve_test, twelve_predicted_values)) 
round(twelve_rmse, 3 )

0.106

## Coefficient of Determination (A SINGLE FEATURE MODEL)

In [22]:
coef = linear_model.coef_
coef

array([[0.8910771]])

In [23]:
round(0.8910771, 2)

0.89

## Ridge Regression

In [24]:
ridge_reg = Ridge(alpha= 0.4 )
ridge_reg.fit(xtwelve_train, ytwelve_train)

Ridge(alpha=0.4)

In [25]:
# Making a Prediction With Ridge Regression
twelve_predicted_values = ridge_reg.predict(xtwelve_test)

In [26]:
#RMSE of Ridge Regression
ridge_twelve_rmse = np.sqrt(mean_squared_error(ytwelve_test, twelve_predicted_values)) 
round(ridge_twelve_rmse, 3 )

0.106

## Lasso Regression

In [27]:
lasso_reg = Lasso(alpha = 0.001 )
lasso_reg.fit(xtwelve_train, ytwelve_train)

# Making a Prediction
Lasso_twelve_predicted_values = lasso_reg.predict(xtwelve_test)

In [28]:
# RMSE of Lasso Regression
lasso_twelve_rmse = np.sqrt(mean_squared_error(ytwelve_test, Lasso_twelve_predicted_values)) 
round(lasso_twelve_rmse, 3 )

0.106